<a href="https://colab.research.google.com/github/suelen-kuminck/data_analytics_SQL/blob/master/SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Data Analytics SQL

In [ ]:
import sqlite3

# Conectar ao banco de dados (ou criar um novo arquivo)
conn = sqlite3.connect('pedidos.db')
cursor = conn.cursor()

# Criar a tabela pedidos
cursor.execute('''
CREATE TABLE IF NOT EXISTS pedidos (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    data_pedido DATE,
    produto TEXT,
    quantidade INTEGER,
    valor REAL,
    categoria TEXT,
    status TEXT
)
''')

# Inserir dados
dados = [
    ('2024-11-01', 'Produto A', 10, 100.0, 'Eletrônicos', 'Concluído'),
    ('2024-11-05', 'Produto B', 5, 50.0, 'Livros', 'Concluído'),
    ('2024-10-25', 'Produto C', 8, 80.0, 'Eletrônicos', 'Cancelado'),
    ('2024-11-10', 'Produto A', 12, 120.0, 'Eletrônicos', 'Concluído'),
    ('2024-11-15', 'Produto B', 6, 60.0, 'Livros', 'Concluído')
]
cursor.executemany('''
INSERT INTO pedidos (data_pedido, produto, quantidade, valor, categoria, status)
VALUES (?, ?, ?, ?, ?, ?)
''', dados)

conn.commit()
print("Banco de dados configurado com sucesso!")

Banco de dados configurado com sucesso!

1. Total de pedidos realizados no último mês

In [ ]:
cursor.execute('''
SELECT COUNT(*) AS total_pedidos
FROM pedidos
WHERE data_pedido >= DATE('now', '-1 month')
''')
print("Total de pedidos no último mês:", cursor.fetchone()[0])

Total de pedidos no último mês: 5

2. Receita total agrupada por categoria

In [ ]:
cursor.execute('''
SELECT categoria, SUM(valor) AS receita_total
FROM pedidos
GROUP BY categoria
ORDER BY receita_total DESC
''')
print("Receita total por categoria:")
for row in cursor.fetchall():
    print(row)

Receita total por categoria:
('Eletrônicos', 300.0)
('Livros', 110.0)

3. Quantidade de pedidos cancelados

In [ ]:
cursor.execute('''
SELECT COUNT(*) AS pedidos_cancelados
FROM pedidos
WHERE status = 'Cancelado'
''')
print("Quantidade de pedidos cancelados:", cursor.fetchone()[0])

Quantidade de pedidos cancelados: 1